<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>All Post</title>
    </head>
    <body>
        <h1>전체 게시물 조회</h1>
        <table>
            <thead>
                <th>제목</th>
                <th>작성일</th>
            </thead>
            <tbody>
                <% for(var i = 0; i < data.length; i++) {%>
                <tr>
                    <td>
                        <a href="/api/post/detail/<%= data[i].PostId %>"> <%= data[i].title %></a>
                    </td>
                    <td><%= data[i].createdAt %></td>
                </tr>
                <% } %>
            </tbody>
        </table>
        <div>
            <input type="text" placeholder="제목을 입력해주세요" />
            <button>검색</button>
            <button id="create-post-button">글 쓰러가기</button>
        </div>
        <div role="toolbar" aria-label="Toolbar with button groups"></div>
    </body>
    <script>
        document.getElementById('create-post-button').addEventListener('click', function () {
            window.location.href = '/api/post/write';
        });
    </script>
</html>
