<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Write post</title>
        <script type="module" src="https://unpkg.com/@fluentui/web-components"></script>
    </head>
    <body>
        <form id="create-post-form" action="/api/post" method="post">
            <h2>제목</h2>
            <input name="title" placeholder="제목을 입력해주세요." required />
            <h2>내용</h2>
            <textarea name="content" placeholder="내용을 입력해주세요." required></textarea>
            <button type="button" onclick="location.href='/api/post'">돌아가기</button>
            <div colspan="2">
                <button type="submit">글 작성하기</button>
            </div>
        </form>
    </body>
    <script>
        document.getElementById('create-post-form').addEventListener('submit', (event) => {
            event.preventDefault();

            const formData = new FormData(event.target);
            const title = formData.get('title');
            const content = formData.get('content');

            fetch('http://localhost:8080/api/post', {
                method: 'post',
                body: JSON.stringify({ title, content }),
                headers: {
                    'Content-Type': 'application/json'
                }
            }).then((res) => {
                if (res.status === 201) {
                    alert('작성되었습니다.');
                    window.location.href = '/api/post';
                }
            });
        });
    </script>
</html>
